solr/data
log/development.log
tmp/
tmp/pids/sunspot-solr-development.pid
log/sunspot-solr-development.log
config/database.yml
/.bundle/
/.idea
/.idea/inspectionProfiles
/.idea/inspectionProfiles/
/.idea/workspace.xml
/*.rvmrc
/log/
