
= render :partial => "/nearby_buttons"

#reviews_wrapper{:class => class_name_from_path}
  #update_place_restaurants{:class => @controller.controller_name+"_"+@controller.action_name}
    = render :partial => params[:search_restaurants] ? "result_restaurants" : "result_menu_items"