-#TODO: please refactor me

- if params[:menu_label_association]
  - id = params[:menu_label_association][:menu_item_id]
- else
  - id = params[:id]


- if current_user
  - labels_ids_for_current_user =  MenuLabelAssociation.where(:menu_item_id => id, :user_id => current_user.id).map{|x| x.menu_label_id}.uniq
  - current_user_labels_array =  MenuLabel.find(labels_ids_for_current_user).map{|x| x.menu_label}

- labels_ids =  MenuLabelAssociation.where(:menu_item_id => id).map{|x| x.menu_label_id}.uniq

- if params[:menu_label_association]
  - @menu_item = MenuItem.find(params[:menu_label_association][:menu_item_id])


- if labels_ids
  - MenuLabel.find(labels_ids).each do |x|

    %nobr
      .birdy &nbsp;
      - if current_user &&  current_user_labels_array.include?(x.menu_label)
        %span{:class => "label label_item"}= x.menu_label
      - else
        = link_to("#", :class => "label", :rel => x.id) do
          %span{:class => "label_item"}= x.menu_label
      - if @menu_item
        (#{@menu_item.labels_counter(MenuLabel.find(x.id), @menu_item.id)})