
-#TODO: please refactor me

- if params[:menu_label_association]
  - id = params[:menu_label_association][:menu_item_id]
- else
  - id = params[:id]


- labels_ids =  MenuLabelAssociation.where(:user_id => current_user.id, :menu_item_id => id).map{|x| x.menu_label_id}.uniq
- if labels_ids
  - MenuLabel.find(labels_ids).map{|x| x.menu_label}.each do |x|
    .birdy &nbsp;
    =link_to(x,"#", :class => "label")