.restaurant_menu_item_wrapper
  .img_column_mi_1_col
    =image_tag "item_rest_temp_image.png"
  .desc_block_2_col
    .b
      %h1 Salted caramel ice cream
    .b.i Gluten free
    .b.i Steve M and 3 other friends have rated this

  .save_n_review_3_col
    = render :partial => "/save"


