#reviews_wrapper_bloc_wrapper

  - @menu_item ||= MenuItem.find(params[:id])
  - @current_menu_item_reviews = @menu_item.menu_item_ratings.reverse
  - @show_more_step = 10


  -if !params[:limit]
    - review_limit = @show_more_step
  - else
    - review_limit = params[:limit].to_i

  - @current_menu_item_reviews_limits = @current_menu_item_reviews.first(review_limit)
  - @current_menu_item_reviews_limits.each do |@mi_rating|
    - user = User.find(@mi_rating.user_id)

    - if @mi_rating.user_id?
      .reviews_wrapper_block
        .review_image_col
          =image_tag "reviews_avatar_temp.png"
          #click &nbsp;

        .review_desc_col_wrapper
          .before_start
            .data_review
              =@mi_rating.updated_at.strftime("%b %d, %Y")
            %h3
              -#TODO: refactor to somethings like @mi_rating.user.user_name
              =user.user_name
            %em
              by
              =link_to user.user_name, user
          -rating = @mi_rating.rating ? @mi_rating.rating : 0
          .star_sm{:class => "star_sm stars_"+@mi_rating.rating.to_s.gsub(/[.]/, '_'), :id => @mi_rating.id, :data => {:rating => rating, :model => "menu_item_ratings"}} &nbsp;
          .review_body_head
            =@mi_rating.review
            -#=link_to "Show more", "#"
          .helpful_block
            .before_answer_block
              Was this review helpful?
            %span.yes_answer
              -#TODO: Almaz: this yes link should create a new menu_item_rating_helpful with
              -#menu_item_rating_id = @mi_rating.id, user_id = @current_user.id
              =link_to "Yes", "/menu_item_rating_helpfuls/new"

            -#-#TODO: Almaz, take a look at this. This is how you will get the helpful count
            -#-if @mi_rating.menu_item_rating_helpfuls
            -#  -helpfulcount = @mi_rating.menu_item_rating_helpfuls.count
            -#-else
            -#  -helpfulcount = 0
            -#.found_helpfull
            -#  (helpfulcount.to_s)
            -#
            -#-#TODO: Almaz, when the Yes link is clicked, only then should we do a POST.
            -#=@mi_rating.menu_item_rating_helpfuls
            -#-#=form_for(MenuItemRatingHelpful.new, :remote => true) do |f|
            -#  =f.text_field :menu_item_rating_id, :value => @mi_rating.id


  -#              create_table "menu_item_rating_helpfuls", :force => true do |t|
  -#  t.integer  "menu_item_rating_id"
  -#  t.integer  "user_id"
  -#  t.datetime "created_at"
  -#  t.datetime "updated_at"
  -#end

=link_to("#limit="+(@show_more_step*2).to_s) do
  #show_more_button{:data =>{:step => @show_more_step, :next => @show_more_step*2, :itemid => params[:id]}}
    Show more