#reviews_wrapper_bloc_wrapper

  - @menu_item ||= MenuItem.find(params[:id])
  - all_current_reviews = @menu_item.menu_item_ratings
  - @current_menu_item_reviews = @menu_item.menu_item_ratings.order("created_at DESC").page(params[:page] ? params[:page] : 1).per(params[:limit] ? params[:limit] : ITEMS_PER_PAGE)

  - @current_menu_item_reviews.each do |@mi_rating|
    - anchorname = @mi_rating.id.to_s
    - user = User.find(@mi_rating.user_id)
    - if @mi_rating.user_id?
      .reviews_wrapper_block
        %a.anchor{:name => anchorname}
          .review_image_col
            = link_to(image_tag(user.small_thumbnail), user)
            #click &nbsp;

        .review_desc_col_wrapper
          .before_start
            .data_review
              =@mi_rating.updated_at.strftime("%b %d, %Y")
          -rating = @mi_rating.rating ? @mi_rating.rating : 0
          .star_sm{:class => "star_sm stars_"+@mi_rating.rating.to_s.gsub(/[.]/, '_'), :id => @mi_rating.id, :data => {:rating => rating, :model => "menu_item_ratings"}} &nbsp;
          %em
            by
            =link_to user.user_name, user
          .review_body_head
            =@mi_rating.review

          =render :partial => "/helpful"

- if all_current_reviews.length > @current_menu_item_reviews.count
  = render :partial => "/show_more"
