- if controller.controller_name != "user_saved_menu_items"

  = render :partial => "/nearby_buttons"
- else
  %h2 Saved Dishes

#reviews_wrapper{:class => class_name_from_path}
  #update_place_restaurants{:class => class_name_from_path}
    = render :partial => "/items_grouped_by_stars"