#buttons_wrapper
  #dishes_icon{:class => "on"} &nbsp;
  #restaurant_icon.off &nbsp;


#reviews_wrapper{:class => @controller.controller_name+"_"+@controller.action_name}
  #update_place_restaurants{:class => @controller.controller_name+"_"+@controller.action_name}
    = render :partial => "/items_grouped_by_stars"
