#content_wrap
  #content
    #current_content_block
      #bread_crumbs
        =link_to("â† "+@menu_item.restaurant.name, @menu_item.restaurant)
      #current_info_wrapper
        #img_column
          =image_tag "temp_image.png"
          #icons_img_wrapper
            %span.photos_inline
              =link_to "75 photos","@@"
            %span.add_photos_inline
              =link_to "add a photo","@@"
            #photos_icon &nbsp;
        #text_column
          %h1.current_title= @menu_item.name
          #stars_wrap
            =avg = @menu_item.menu_item_avg_rating_count.avg_rating
            -class_name ="stars_"+avg.to_s
            #star_average{:class => class_name.gsub(/[.]/, '_'), :data =>{:rating => avg}} &nbsp;
          #rating
            -if @menu_item.menu_item_avg_rating_count
              =@menu_item.menu_item_avg_rating_count.count
              Rating
            | 43 Reviews
          #desc_wrap
            %strong Description:
            #description= @menu_item.description
            %strong Labels:
            #labels
              Gluten free
          =image_tag "social.png"
        #flag_icons
          .save_icon &nbsp;
          .flag_icon &nbsp;
      #comment_wrapper_wrapper
        #comment_wrapper
          #content_title
            Have you tied this?
          =form_for(MenuItemRating.new, :remote => true) do |f|
            =f.hidden_field :rating
            =f.hidden_field :menu_item_id, :value =>params[:id]
            .star_gray{:id => params[:id], :data =>{:model => "user_menu_item_ratings"}} &nbsp;
            #input_comment
              =f.text_field :review
              =f.hidden_field :menu_item_id, :value =>params[:id]
    #reviews_wrapper
      %h3.review
        Reviews
      #sorting
        Sort by:
      #update_place
        =image_tag "select_box.png"
        =render :partial => "review"




  #sidebar
    #map{:style => "width:297px; height:297px; border: 1px solid #ccc"}
      =image_tag "map_temp.png"
    #foodies_wraper_wrapper
      %h4 Foodies of the week
      -for @user in @foodies_for_current_dish
        =render :partial => "foodies"


#footer
  %p footer

