- selected_user = User.find(params[:user_id] ? params[:user_id] : params[:id])

#buttons_wrapper.user_buttons_wrapper
  - @controller.action_name == "show" ? class_name = "on" : class_name = "off"
  = link_to user_path selected_user.id do
    #dishes_icon{:class => class_name+" dishbutton"}
      #left_side &nbsp;
      %span Reviews
      (1)
  - @controller.action_name == "saved" ? class_name = "on" : class_name = "off"
  = link_to saved_user_path selected_user.id do
    #restaurant_icon{:class => class_name+" dishbutton"}
      #left_side &nbsp;
      %span Saved
      (1)
  - @controller.action_name == "following" ? class_name = "on" : class_name = "off"

  = link_to following_user_path selected_user.id do
    #restaurant_icon{:class => class_name+" dishbutton"}
      #left_side &nbsp;
      %span Following
      (1)
  #restaurant_icon{:class => "off dishbutton"}
    #left_side &nbsp;
    %span Followers
    (1)