#reviews_wrapper{:class => @controller.controller_name}
  = render :partial => "users/buttons"

  #reviews_wrapper{:class => class_name_from_path}
    #update_place_restaurants{:class => class_name_from_path}

      = render :partial => "/user_items" if @controller.action_name == "show"
      = render :partial => "/items_grouped_by_stars" if @controller.action_name == "saved"
      = render :partial => "following_users" if @controller.action_name.include? "follow"

      -#= render :partial => "/show_more"