<p id="notice"><%= notice %></p>

<p>
  <b>Restaurant label:</b>
  <%= @restaurant_label.restaurant_label %>
</p>


<%= link_to 'Edit', edit_restaurant_label_path(@restaurant_label) %> |
<%= link_to 'Back', restaurant_labels_path %>
