- restaurant = @restaurant
.restaurant_menu_item_wrapper{:data => {:latitude => restaurant.latitude, :longitude => restaurant.longitude}, :class => "restaurants_index"}

  .img_column_mi_1_col
    =image_tag "item_rest_temp_image.png"
  .desc_block_2_col
    .b
      %h1= link_to @restaurant.name, @restaurant
    .b.i= restaurant.address_full
  -#.save_n_review_3_col= render :partial => "/save"
  .review_counter_for_item

    -#TODO: we need denormalisation field restaurant.menu_items_reviews_count
    - review = @restaurant.menu_items.map{|x| x.menu_item_ratings if !x.menu_item_ratings.blank?}.uniq.delete_if{|x| x == nil}.count
    .number_rev= review
    reviews

    -#To get number of reviews for restaurant, we have to get menu_item_ratings for all restaurant.menu_items.
    -#We dont have a controller for this yet.
