#reviews_wrapper_bloc_wrapper
  - @restaurants.each_with_index do |@restaurant, @counter|
    = render :partial => "restaurants/restaurant_nearby"

  = will_paginate @restaurants
-#= render :partial => "/show_more" if @restaurants.length > ITEMS_PER_PAGE
