= render :partial => "/nearby_buttons"
/= render :partial => "search/filters"

#reviews_wrapper{:class => class_name_from_path}
  #update_place_restaurants{:class => class_name_from_path}
    = render :partial => "restaurants_grouped_by_stars"
