.restName {font-weight:bold;}
.restAddress {font-weight:lighter;display:block;}

.chevrony {display:block;float:right;background-image: url('../../images/arrow-gray.png');
    width: 8px;
    height: 13px;
    margin: 28px 3px 0 0;}
.adish {overflow:hidden;}
.dishListinfo {float:left;margin:2px 0 0 3px;font-size:14px;color:#282828;line-height: 20px;}
.dishImg {display:block;float:left;width:60px;margin:3px;-webkit-border-radius:5px;}
.dishname {font-weight:bold;}
.restaurantName {display:block;}
.distanceFigure {display:block;color:#5d5d5d;}
.cravelogo {margin: 10px 0 0 0;}

.x-button img {
width: 1.0em;
height: 1.0em;
}
.x-toolbar .x-button {
padding: .3em .3em;
}
.x-list .x-list-item {
	border-top: solid 1px #CCC;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #F1F1F1));
    );
}

.dishListinfo {
float: left;
margin: 2px 0 0 7px;
font-size: 14px;
color: #282828;
line-height: 21px;
}

.restaurantName {
display: block;
font-weight: lighter;
}

.restName {
font-weight: bold;
text-shadow: 1px 1px white;
}

.restAddress {
font-weight: lighter;
display: block;
text-shadow: 1px 1px white;
line-height: 21px;
}

.distanceFigure {
display: block;
color: #5D5D5D;
font-weight: lighter;
}

.x-list-header {
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #414244), color-stop(1, #242624) );
	height: 22px;
}
/*
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.45, rgb(36,38,36)),
        color-stop(0.73, rgb(65,66,68))
    );
*/
#googleMap {height:100px;width:100px;}
.foodImg {
    display:block;
    width:110px;
    height:110px;
    padding:5px;
    margin:12px auto;
}
.dishinfo {padding:12px;}
.picanddata .pic {float:left;padding:12px}
.picanddata .data {float:left;padding:12px}
.reviewtext {clear:both;float:none;}
.restaurantInfo {
	width: 100%;
	height: 100px;
	background-color: #F8ECC0;
	padding: 12px;
	font-size: 14px;
	color: #282828;
}
.dashedBorder {border:dashed 1px;}
/*sencha overrides */
.x-toolbar-light {
    background-image:
        -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.25, rgb(245,114,91)),
        color-stop(0.63, rgb(245,114,91)),
        color-stop(0.82, rgb(231,82,56))
        );
}
.x-toolbar-dark {
    background-color:#404042;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.25, rgb(64,64,66)),
        color-stop(0.63, rgb(64,64,66)),
        color-stop(0.82, rgb(38,40,37))
    );
}

#dishesButton.x-button span {
    background: url('../../images/dish-icon-OFF.png') no-repeat;
    font-size:12px;
    font-weight:bold;
    color:#f39a8a;
    text-shadow: 1px 1px 1px #943325;
}
#dishesButton.x-button-pressed span {
    background: url('../../images/dish-icon-ON.png') no-repeat;
    color:#ffffff;
    text-shadow: 1px 1px 1px #571e15;
}
#placesButton span {
    text-align: left;
    text-indent: 24px;
}

#placesButton.x-button span {
    background: url('../../images/restaurant-icon-OFF.png') no-repeat;
    font-size:12px;
    font-weight:bold;
    color:#f39a8a;
    text-shadow: 1px 1px 1px #943325;
}
#placesButton.x-button-pressed span {
    background: url('../../images/restaurant-icon-ON.png') no-repeat;
    color:#ffffff;
    text-shadow: 1px 1px 1px #571e15;
}

.x-toolbar-light .x-button.x-button-pressed,
.x-toolbar-light .x-button.x-button-pressed::after,
.x-toolbar-light .x-button.x-button-active,
.x-toolbar-light .x-button.x-button-active::after,
.x-toolbar .x-toolbar-light .x-button.x-button-pressed,
.x-toolbar .x-toolbar-light .x-button.x-button-pressed::after,
.x-toolbar .x-toolbar-light .x-button.x-button-active,
.x-toolbar .x-toolbar-light .x-button.x-button-active::after {
    background-color:#dd4f3c;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.25, #e75136),
        color-stop(0.82, #e1371a)
    );
}
.x-toolbar-light .x-button.x-button-pressed, .x-toolbar-light .x-button.x-button-active, .x-toolbar .x-toolbar-light .x-button.x-button-pressed, .x-toolbar .x-toolbar-light .x-button.x-button-active, .x-toolbar-light .x-field-select .x-input-text.x-button-pressed, .x-toolbar-light .x-field-select .x-input-text.x-button-active, .x-toolbar .x-toolbar-light .x-field-select .x-input-text.x-button-pressed, .x-toolbar .x-toolbar-light .x-field-select .x-input-text.x-button-active, .x-toolbar-light .x-field-select::before.x-button-pressed, .x-toolbar-light .x-field-select::before.x-button-active, .x-toolbar .x-toolbar-light .x-field-select::before.x-button-pressed, .x-toolbar .x-toolbar-light .x-field-select::before.x-button-active
{
    -webkit-box-shadow:inset #b1422e 0 0 0.1em;
}
.x-toolbar-light .x-button, .x-toolbar-light .x-button.x-button-back::after, .x-toolbar-light .x-button.x-button-forward::after, .x-toolbar .x-toolbar-light .x-button, .x-toolbar .x-toolbar-light .x-button.x-button-back::after, .x-toolbar .x-toolbar-light .x-button.x-button-forward::after, .x-toolbar-light .x-field-select .x-input-text, .x-toolbar-light .x-field-select .x-input-text.x-button-back::after, .x-toolbar-light .x-field-select .x-input-text.x-button-forward::after, .x-toolbar .x-toolbar-light .x-field-select .x-input-text, .x-toolbar .x-toolbar-light .x-field-select .x-input-text.x-button-back::after, .x-toolbar .x-toolbar-light .x-field-select .x-input-text.x-button-forward::after, .x-toolbar-light .x-field-select::before, .x-toolbar-light .x-field-select::before.x-button-back::after, .x-toolbar-light .x-field-select::before.x-button-forward::after, .x-toolbar .x-toolbar-light .x-field-select::before, .x-toolbar .x-toolbar-light .x-field-select::before.x-button-back::after, .x-toolbar .x-toolbar-light .x-field-select::before.x-button-forward::after
{
    background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.25, #f9735b),
    color-stop(0.82, #e4381a)
    );
}
.x-toolbar-light .x-button, .x-toolbar .x-toolbar-light .x-button, .x-toolbar-light .x-field-select .x-input-text, .x-toolbar .x-toolbar-light .x-field-select .x-input-text, .x-toolbar-light .x-field-select::before, .x-toolbar .x-toolbar-light .x-field-select::before
{
    border:0.1em solid #b1422e;
    border-top-color:#b1422e;
}
.x-list .x-list-disclosure {
    background:#d3d3d3 none;
}
.x-list .x-list-item.x-item-selected {
    background-color:#c6c0bf;
    background-image:none;
    border-top-color:#C6C0BF;
    border-bottom-color:none;
}
.x-toolbar-light .x-button.x-button-back::before, .x-toolbar-light .x-button.x-button-forward::before, .x-toolbar .x-toolbar-light .x-button.x-button-back::before, .x-toolbar .x-toolbar-light .x-button.x-button-forward::before, .x-toolbar-light .x-field-select .x-input-text.x-button-back::before, .x-toolbar-light .x-field-select .x-input-text.x-button-forward::before, .x-toolbar .x-toolbar-light .x-field-select .x-input-text.x-button-back::before, .x-toolbar .x-toolbar-light .x-field-select .x-input-text.x-button-forward::before, .x-toolbar-light .x-field-select::before.x-button-back::before, .x-toolbar-light .x-field-select::before.x-button-forward::before, .x-toolbar .x-toolbar-light .x-field-select::before.x-button-back::before, .x-toolbar .x-toolbar-light .x-field-select::before.x-button-forward::before
{
    background:#b1422e;
}
.x-toolbar-light .x-toolbar-title {color:#ffffff;}

.x-toolbar-light {
background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #F6745D), color-stop(1, #E64E33) );
border-top: 1px solid #F8907D;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
border-top-left-radius: 5px 5px;
border-top-right-radius: 5px 5px;
}
.x-toolbar.x-docked-top {
border-bottom: .1em solid #73271A;
}

input[type="search"]::-webkit-search-cancel-button {
margin-right:4px;
}

.x-form .x-panel-body {
padding: 1em;
background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #F8F7F5), color-stop(1, #ECEBE7) );
border-bottom: 1px solid #BAB9B7;
border-top: 1px solid white;
height: 45px;
}

.x-field input, .x-field textarea, .x-field select, .x-field .x-field-slider {
-webkit-border-radius: 0;
border-radius: 20px;
padding: .4em;
border: 0;
}

