.foodies_wraper
  .foodie_block_wrapper
    .image_foodie_1_col
      = link_to(image_tag(@user.small_thumbnail), @user)
    .text_foodie_2_col
      .foodie_name
        =link_to(@user.user_name, user_path(@user.id))
      - if @user.followers.any?
        %em
          =@user.followers.count
          followers
    .reviews_couner_3_col
      %h3= @user.count_ratings_this_week
      reviews