.left_footer_column
  &copy; 2011 GetCrave Inc.
  .links_footer
    - ["About", "Contact", "Terms of Use"].each do |x|
      =link_to x, "#"
.right_footer
  :erb
    <script src="http://connect.facebook.net/en_US/all.js#appId=207859815920359&amp;xfbml=1"></script><script>FB.init({ appId:'207859815920359', cookie:true,status:true, xfbml:true });</script>
    <fb:like href="http://getcrave.com" send="false" width="350" show_faces="false" font=""></fb:like>