.left_footer_column
  @ 2011 GetCrave Inc.
  .links_footer
    - ["About", "Contact", "Terms of Use"].each do |x|
      =link_to x, "#"
.right_footer
  :erb
    <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#appId=177216185667399&amp;xfbml=1"></script><fb:like href="getcrave.com" send="false" width="275" show_faces="false" font=""></fb:like>