.helpful_block
  .before_answer_block
    Was this review helpful?
  %span.yes_answer
    #link_here_helpfull
      %span= link_to "Yes","#"
      = form_for(MenuItemRatingHelpful.new(@mi_rating.id), :remote => true) do |f|
        = f.hidden_field :menu_item_rating_id, :value => @mi_rating.id
        = f.hidden_field :user_id, :value => current_user.id if current_user
  .found_helpfull
    =" (" + @mi_rating.menu_item_rating_helpfuls.count.to_s+")"