#update_place_restaurants{:class => @controller.controller_name}

  - if !@menu_items.first().menu_item_avg_rating_count.nil?
    - group_star = @menu_items.first().menu_item_avg_rating_count.avg_rating
  - else
    - group_star = 0

  .star_sm{:class => "star_sm stars_"+group_star.to_s.gsub(/[.]/, '_')} &nbsp;

  - @menu_items.each_with_index do |@menu_item, @counter|
    - if !@menu_item.menu_item_avg_rating_count.nil?
      - stars = @menu_item.menu_item_avg_rating_count.avg_rating
    - else
      - stars = 0
    - if stars.to_f != group_star.to_f
      - group_star = stars
      .star_sm{:class => "star_sm stars_"+stars.to_s.gsub(/[.]/, '_')} &nbsp;
    - if  @controller.controller_name == "nearby"
      = render :partial => "/menu_item_nearby"
    -else
      = render :partial => "/menu_item"