.restaurant_menu_item_wrapper
  .img_column_mi_1_col
    =image_tag "item_rest_temp_image.png"
  .desc_block_2_col
    .b
      - if @menu_item
        %h1= link_to @menu_item.name, @menu_item
        .b.i= @menu_item.description
      - else
        %h1 title
        .b.i description


    / .b.i Steve M and 3 other friends have rated this

  - if @controller.controller_name != "users"
    .save_n_review_3_col
      = render :partial => "/save"
  .review_counter_for_item

    -#TODO: bad way to get exception, please refactor me ((

    - if @menu_item && !@menu_item.menu_item_avg_rating_count.nil?
      - review = @menu_item.menu_item_avg_rating_count.count

    - else
      - review = 0
    .number_rev= review
    reviews