#mask.close_modal
#modal_window.modal_window
  #close_me.close_modal
    = image_tag "icons/close.png"
  .modal_title
    %h1 Add a dish
  .clone_me
    =link_to "/auth/facebook" do
      = image_tag "icons/fb_sign_in.png"