- if  controller.controller_name == "menu_items" || (@controller.controller_name == "search" && !params[:search_restaurants])
  - @dish_button_status = "on"
  - @rest_button_status = "off"
- else
  - @dish_button_status = "off"
  - @rest_button_status = "on"

- tail = params[:lat] ? "?lat="+params[:lat]+"&long="+params[:long] : " "

#buttons_wrapper
  - if @rest_button_status == "off"
    = render :partial => "/food_button"
    =link_to "/places"+tail do
      = render :partial => "/place_button"
  - else
    =link_to "/items/nearby"+tail do
      = render :partial => "/food_button"
    = render :partial => "/place_button"
