#header
  #logo
    =link_to(image_tag("logo.png"),"/")
  #navigation_wrap
    =image_tag "nav_left_corner.png", :class => "left_nav_corner"
    =image_tag "nav_right_corner.png", :class => "right_nav_corner"
    #navigation
      =link_to(image_tag("fb_login_icon.png"), "/auth/facebook", :class => "fb_login")
      %ul
        %li.nearby=link_to "Nearby","#"
        %li.saved=link_to "Saved","#"
        %li.following=link_to "Following","#"
        %li.profile=link_to "Profile","#"

  #navigation_wrap_search
    %form{:action =>"#"}
      =text_field(:first, :second, :class =>"first_search_input")
      =text_field(:first, :second, :class =>"second_search_input")
      =image_tag "fileds_search_inputs.png", :class => "fields"
      =image_submit_tag("search_button.png", :class => "search")
      #in in