-if @controller.controller_name === "restaurants"
  - if is_restaurant_saved? @restaurants.id
    - flag_class = "saved_item"
  - else
    - flag_class = "not_saved_item"

  #flag_icons{:title => "save this item"}
    .save_icon{:class=> "save_icon "+flag_class, :id => "mid_"+@restaurants.id.to_s}
-else

  - if class_name_from_path == "search_index" || class_name_from_path == "user_saved_menu_items_index"
    - params[:id] = @menu_item.id

  - if @menu_item && params[:id]
    - if is_item_saved? @menu_item.id
      - flag_class = "saved_item"
      #flag_icons{:title => "save this item"}
        - user_saved_menu_item_id = UserSavedMenuItem.where(:user_id => current_user.id, :menu_item_id => params[:id]).first.id
        .save_icon{:class=> "save_icon "+flag_class, :id => "mid_"+@menu_item.id.to_s, :rel => user_saved_menu_item_id}
    - else
      - flag_class = "not_saved_item"
      #flag_icons{:title => "save this item"}
        .save_icon{:class=> "save_icon "+flag_class, :id => "mid_"+@menu_item.id.to_s}
          - @user_saved_menu_item = UserSavedMenuItem.new
          = form_for(@user_saved_menu_item, :remote => true) do |f|
            = f.hidden_field :user_id, :value => current_user.id if current_user
            = f.hidden_field :menu_item_id, :value => @menu_item.id

