
- if is_item_saved? @menu_item.id
  - flag_class = "saved_item"
- else
  - flag_class = "not_saved_item"

#flag_icons{:title => "Save me!"}
  .save_icon{:class=> "save_icon "+flag_class, :id => "mid_"+@menu_item.id.to_s}
    - @user_saved_menu_item = UserSavedMenuItem.new
    = form_for(@user_saved_menu_item, :remote => true) do |f|
      = f.hidden_field :user_id, :value => current_user.id
      = f.hidden_field :menu_item_id, :value => @menu_item.id
    &nbsp;