= @next = @current_menu_item_reviews.count+ITEMS_PER_PAGE
- @show_more_step  ||= ITEMS_PER_PAGE
=link_to("#") do
  #show_more_button{:data =>{:step => @show_more_step, :next => @next, :itemid => params[:id]}}
    Show more