- if @current_menu_item_reviews
  - @next = @current_menu_item_reviews.count+ITEMS_PER_PAGE
- elsif @menu_items
  - @next = @menu_items.count+ITEMS_PER_PAGE


=link_to("#") do
  #show_more_button{:data =>{:next => @next, :itemid => params[:id]}}
    Show more