- @foodies_for_current_dish ||= User.find(:all, :order => 'user_ratings_count DESC', :limit => ITEMS_PER_PAGE)

#sidebar
  - if @controller.controller_name != "users"
    #map{:style => "width:298px; height:298px; border: 1px solid #ccc; margin-bottom:20px;"}
      =image_tag "map_temp.png"
  #foodies_wraper_wrapper
    %h4 Foodies
    -for @user in @foodies_for_current_dish
      =render :partial => "/foodies"