#reviews_wrapper_bloc_wrapper

  -#- @menu_item ||= MenuItem.find(params[:id])
  - @current_menu_item_reviews = @user.menu_item_ratings.reverse.paginate(:page => params[:page],:per_page => ITEMS_PER_PAGE)

  - @show_more_step = ITEMS_PER_PAGE

  -if !params[:limit]
    - review_limit = @show_more_step
  - else
    - review_limit = params[:limit].to_i

  - @current_menu_item_reviews_limits = @current_menu_item_reviews.first(review_limit)
  - @current_menu_item_reviews_limits.each do |@mi_rating|
    - user = @user

    - if @mi_rating.user_id?
      .reviews_wrapper_block
        .review_image_col
          = link_to(image_tag(@user.small_thumbnail), @user)
          #click &nbsp;

        .review_desc_col_wrapper
          %h1
            = link_to @mi_rating.menu_item.name, @mi_rating.menu_item

          .before_start
            .data_review
              =@mi_rating.updated_at.strftime("%b %d, %Y")

          -rating = @mi_rating.rating ? @mi_rating.rating : 0
          .star_sm{:class => "star_sm stars_"+@mi_rating.rating.to_s.gsub(/[.]/, '_'), :id => @mi_rating.id, :data => {:rating => rating, :model => "menu_item_ratings"}} &nbsp;
          %em
            -# by
            -# =link_to user.user_name, user
          .review_body_head
            =@mi_rating.review

          .helpful_block
            .before_answer_block.gray
              = @mi_rating.menu_item_rating_helpfuls.count.to_s
              foodies found this helpful
  =will_paginate(@current_menu_item_reviews)

